.generater{
	/*text-align: center;*/
	position: relative;
	padding: 50px;
	font-size: 18px;
}
.title-wrapper{
	text-align: center;
}
.logo-title{
	text-align: center;
	margin-bottom: 70px;
	width: 80%;
}
.follower{
	position: absolute;
	right: 50px;
	bottom: 105px;
	opacity: 0.6;
}
.btn-wrapper{
	text-align: center;
	margin-top: 90px;
	margin-bottom: 0;
	position: relative;
	height: 100px;

}
.generate-btn{
	padding: 10px 40px;
	color: white;
	background: #e1a5a5;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	z-index: 300;
	position: absolute;
	left: 50%;
	margin-left: -110px;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
}
.generate-btn:active {
	background: #e39898;
}
.back, .download{
	display: none;
}

.bbt{
	background: #fafafa;
}
.btns{
	text-align: center;
	margin: 10px 0;
}
.btn{
	padding: 10px 30px;
	color: white;
	background: #e1a5a5;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
}
.btn:active {
	background: #e39898;
}

.upload-wrapper{
	position: relative;
	height: 200px;
}
.upload{
	width: 200px;
	height: 200px;
	background: #eee;
	color: #a7a7a7;
	border: solid 1px #d2d2d2;
	cursor: pointer;
	text-align: center;
	line-height: 200px;
	margin: 30px 0 0 0px;
	position: absolute;
	z-index: 300;
}
.pre-pic{
	width: 200px;
	height: 200px;
	/*position: absolute;*/
/*	left: 0;
	top: 0;
*/}
textarea{
	border: solid 1px #dcdcdc;
	width: 100%;
	/*font-family: Microsoft JhengHei, Apple LiGothic Medium, STHeiti, SimHei;*/
	font-size: 17px;
	line-height: 30px;
	padding: 5px 15px 0 15px;
	height: 140px;
	margin: 20px 0 60px 0px;
	background: white;
	z-index: 300;

}
textarea:focus{
	outline: none;
}

@media screen and (max-width: 600px) {
	.generater{
		padding: 20px;
		background: #fafafa;
	}
	.upload{
		position: absolute;
		left: 50%;
		margin-left: -110px;
		background: white;
	}
	.follower{
		right: 0px;
		width: 300px;
		bottom: 70px;
	}
	.logo-title{
		margin-bottom: 30px;
	}
	.text-count{
		position: relative;
  		top: 185px;
	}
	.btns{
		display: none;
	}
	.bbt{
		margin-top: 20px;
		position: relative;
	}
	.download{
	  width: 100px;
	  position: fixed;
	  right: 5px;
	  top: 5px;
	  display: block;
	}
	.back{
	  display: block;
	  position: fixed;
	  left: 0px;
	  top: 10px;
	  padding: 10px;
	  background: rgba(164, 0, 0, 0.41);
  	}
	.arrow{
		width: 40px;
	}
	h4{
		font-size: 0.9em;
		color: #343434;
	}
	textarea{
		margin: 20px 0 40px 0px;
		padding: 5px;
		line-height: 22px;
	}
}